option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"


files:
  "/opt/elasticbeanstalk/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80 default_server;
        server_name "";
        location /health {
          access_log off;
          return  200;
        }
      }
      server {
        listen 80;
        server_name hackschedule.com;
        #....
        location / {
          if ($http_x_forwarded_proto != 'https') {
            return 301 https://$server_name$request_uri;
          }
        }
        #....
      }

container_commands:
  01_replace_nginx_eb_conf:
    command: "mv -f '/opt/elasticbeanstalk/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf' '/tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf'"
    ignoreErrors: false
