$unit: 4px;
$space-xs: $unit * 2; // 8
$space-sm: $space-xs * 2; // 16
$space-md: $space-xs * 3; // 24
$space-lg: $space-sm * 2; // 32

$font-family: HelveticaNeue, Helvetica, Avenir, Sans-serif;
$font-size:   13px;
$line-height: 1.4em;
$text-color: #000;
$bg-color: #ce1a1a;

$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

$white: #FFF;
$red1: #e93432;
$red2: #ce1a1a;
$blue1: #29B6F6;
$blue2: #039BE5;

.red {
	color: $red1;
}

@import 'normalize';
@import 'boilerplate';
@import 'components';
@import 'app';
@import 'landing';
@import 'courses';
@import 'calendar';
@import 'selector';
