#landing {

  text-align: center;
  padding: 80px 16px;

  #logo {
    background-image:url('./hackschedule.png');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    width:250px;
    height:42.5px;
    margin:0 auto;
    margin:0 auto $space-sm auto;
  }

  #blurb {
    font-size: $font-lg;
    line-height:1.4em;
    margin: 32px auto;
  }

  #login {
    margin: 32px auto;

    .prompt {
      margin: 8px auto;
      font-weight: bold;
    }

    input {
      width: 300px;
    }

    .alert {
      margin: 8px auto;
    }

  }

  #courselist {
    margin: $space-lg $space-xs;

    & > li {
      width: 218px;
      display: inline-block;
      margin: $space-xs;
    }
  }

  input {
    outline: none;
    padding: 12px;
    font-size: $font-lg;
    box-shadow: none;
    background-color: #FFF;
    color: #000;
    border: none;
    border-radius: 3px;
    margin: 0 4px;
    max-width: 100%;
    transition:all .15s cubic-bezier(.215,.61,.355,1);
    animation-fill-mode:both;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  button {
    display: block;
    margin: $space-sm auto;
  }

}
